body {
    background-image: "#FFFFFF";
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding-top: 40px;
}

.tz-gallery {
    padding-top: 0px;
    width: 100%;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-top: 17px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 8px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    margin: 0;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF80;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: -6px;
}

.text {
    color: black;
    font-family: europa;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.lightbox:hover .overlay {
    height: 25%;
}

.image {
    height: 215px;
    object-fit: cover;
}

@media(max-width: 576px) {
    body {
        padding: 0;
    }
}